*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana,;
}
body{
   background-color: #fff; 
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 50vh;
}
.container{
    position: relative;
    width:100% ;
    /* max-width: 1000px; */
    height: 1200px;
    background-color: #fff;
    /* margin: 10px; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);

}
/* sezione di sinistra */

.container .left_Side{
    position: relative;
    background-color: #003147;
    height: 100%;
    padding: 25px;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 34px;

}
/* box immagine */
.profileText .imgBx{
    position: relative;
    width:300px;
    height: 300px;
    border-radius: 5%; 
    overflow: hidden;
    margin-bottom: 30px;
}
.profileText .imgBx img{
    position: absolute;
    bottom: 0px; 
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/* Nome professione */
.profileText h2{
    color: #fff;
    font-size: 1.6rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: larger;
    line-height: 1.5em;
    letter-spacing: 3px;
    font-weight: lighter;
}
.profileText h2 span{
    font-size: 1.2rem;
    color: aqua;
}
/* contatti */
.title{
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.contactInfo ul li{
    list-style: none;
}
.contactInfo{
    margin-top: 50px;
}

.contactInfo span{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 10px;
    font-weight: lighter; 
}
.contactInfo .icon i{
    color: aqua;
    width: 20px;
   font-size: 25px;
}
.contactInfo a{
    color: #fff;
    font-size: larger;
    margin-bottom: 25px;
}
/* formazione */
.text-formazione{
    margin-left: 40px;
}
.contactInfo.education {
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    padding-bottom: 50px;
    margin-top: 50px;
} 
.contactInfo.education h3{
    margin-top: 50px;
}

.contactInfo.education li{
    margin-bottom: 25px;
}
.contactInfo.education h5{
    color: aqua;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
}
.contactInfo.education h4{
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top: 10px;
}
/* sezione di destra */
.container .right_Side{
    position: relative;
    background-color: #fff;
    padding: 20px;
}
/* sezione di destra -- profilo*/
.abaut h1{
    color: #003147;
    font-size: 1.6rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    line-height: 1.6em;
    letter-spacing: 2px;
    font-weight: bold; 
}
.abaut{
    margin-bottom: 60px;
    margin-top: 60px;
}
.border{
    border-bottom: 1px solid rgba(20, 17, 17, 0.2);  
}
.title2{
    color: #003147;
    text-transform: uppercase;
    /* font-weight: lighter; */
    letter-spacing: 3px;
    margin-bottom: 60px;
    margin-top: 60px;
}
p{
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}
/* sezione di destra -- Esperienze*/
 .box{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px; 
    background-color: rgba(15, 28, 128, 0.06);
    padding: 15px;
}
.year_company{
    /* margin-right: 50px; */
    width: 150px;
}
.abaut .box {
    min-width: 150px;
}
.text.progetto h5{
    padding-left: 30px;
}
.text.progetto span{
    scroll-padding-inline-start: 20px;
    padding-left: 30px;
}
.text h5{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
}
/* sezione di destra -- competenze*/
.skills{
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-bottom: 20px;
}
.skills h4{
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 15px;
}
.languages{
    margin-right: 50px;
}
.frameworks{
    margin-right: 50px;
}
.portfolio{
    position: relative;
}
.imgBx1{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgba(20, 17, 17, 0.7 );
    margin-right: 15px;
}
.resize{
    width: 100%;
    height: 100%;
}
.text li{
    list-style: none;
}
.order{
    margin-top: 20px;
}
.order span{
    padding-inline-start: 16px;
    padding-right: 30px;
}
.elenco span{
    padding-left: 20px;
    padding-top: 20px;
}